body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: darkred;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Bangers', cursive;
}

/* header styles */
/* write your comment here */
header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 357.5px;
	width: 675px;
	border: 20px solid darkgoldenrod;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	margin: 40px 0 5px;
}

a{
	color: black
}
a:hover{
	color: darkred;
}

footer{
	background-color: darkred;
	text-align: center;
	color: white;
	padding: 50px;
}

footer a{
	color: white;
	margin: 0;
}
footer a:hover{
	opacity: 0.95;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}







