body{
	background-color: lavender;
}
h1{
	font-size: 30px;
	color: darkcyan;
}

h2{
	color: red;
	font-size: 20px;
}

h2{
	color: royalblue;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: plum;
}

h1 span{
	color: palevioletred;
}